Source: ros-groovy-image-common
Section: misc
Priority: extra
Maintainer: "Jack O'Quin <jack.oquin@gmail.com>, Vincent Rabaud <vincent.rabaud@gmail.com>"
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin
Homepage: http://www.ros.org/wiki/image_common
Standards-Version: 3.9.2

Package: ros-groovy-image-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-camera-calibration-parsers, ros-groovy-camera-info-manager, ros-groovy-image-transport, ros-groovy-polled-camera
Description: Common code for working with images in ROS.
